{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme setform with [ ':form:bootstrap_3_horizontal_layout.html.twig'] %}
    {{ form_start(setform , {'attr': {'class': 'top_set_form'} }) }}
    <div class="page-header row">
        <div class="col-md-2"><h1 >Отчет</h1></div>

        <div class="col-md-4">{{ form_row(setform.time_period) }}</div>
        <div class="col-md-4">{{ form_row(setform.room) }}</div>
        <div class="col-md-2">
            <input type="button" onclick="javascript:setdygraph();" class="btn-default btn" id="set_form_save" value="Обновить">
        </div>
    </div>
    {{ form_end(setform) }}
    <div class="row">
        <div id="graphdiv2" class="col-md-12" style="height:600px;"></div>
    </div>
    <div class="row">
        <b>Показывать: </b>
        <input id="0" onclick="change(this);" checked="" type="checkbox">
        <label for="0">CO2</label>
        <input id="1" onclick="change(this);" checked="" type="checkbox">
        <label for="1">VOC</label>
        <input id="2" onclick="change(this);" checked="" type="checkbox">
        <label for="2">H</label>
        <input id="3" onclick="change(this);" checked="" type="checkbox">
        <label for="3">T</label>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <div id='dygraph_scr' style="display:none">
    {% include ':system:dygrscr.html.twig' %}
    </div>
    <script>
    function setdygraph(){
        var gt=jQuery(".top_set_form").serialize();
        jQuery('#indicator').show();
        jQuery.get('{{ path('upd_rep') }}', gt, function(data){
            $("#dygraph_scr").html(data);
            jQuery('#indicator').hide();
        })
    }
    </script>
    <!--http://dygraphs.com/tutorial.html
    http://itchief.ru/lessons/bootstrap-3/113-bootstrap-3-datetimepicker
    -->
{% endblock %}

